@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
  color: #4d536d;
  font-weight: 400;
}

body {
  margin: 0;
  background-color: #dfe4db;
}

.appTitle {
  margin: 2rem auto;
  text-align: center;
}
